@font-face {
  font-family: "ComicRelief";
  src: url("@/assets/fonts/ComicRelief-Regular.woff2") format("woff2"),
       url("@/assets/fonts/ComicRelief-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ComicRelief";
  src: url("@/assets/fonts/ComicRelief-Bold.woff2") format("woff2"),
       url("@/assets/fonts/ComicRelief-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSerifText";
  src: url("@/assets/fonts/DMSerifText-Regular.woff2") format("woff2"),
       url("@/assets/fonts/DMSerifText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
