@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-Light.woff2") format("woff2"),
       url("/src/assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-Regular.woff2") format("woff2"),
       url("/src/assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-Bold.woff2") format("woff2"),
       url("/src/assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
