@use 'variables' as *;
@use 'mixins' as *;

body {
  // @include fluid-text(18, 16);

  height: 100%;
  background-color: $color-background-main;

  font-family: $ff-main;
  font-weight: 400;
  line-height: 1;
  color: $color-text-main;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba($color: $color-white-blue, $alpha: 0.5);
  }
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.global-container {
  overflow: hidden;
}
