@use 'variables' as *;
@use 'mixins' as *;

body {
  // @include fluid-text(18, 16);

  height: 100%;
  background-color: $color-background-main;
  font-family: $ff-main;
  font-weight: 400;
  line-height: 1;
  color: $color-text-main;
}

a {
  text-decoration: none;
  color: inherit;
}
