// desktop first

// main
@mixin vp-1760 {
  @media (max-width: 1760px) {
    @content;
  }
}

@mixin vp-1320 {
  @media (max-width: 1320px) {
    @content;
  }
}

@mixin vp-808 {
  @media (max-width: 808px) {
    @content;
  }
}

@mixin vp-430 {
  @media (max-width: 430px) {
    @content;
  }
}

// dop
@mixin vp-425 {
  @media (max-width: 425px) {
    @content;
  }
}

// mobile first
// @mixin vp-1920 {
//   @media (min-width: 1920px) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: 1280px) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: 768px) {
//     @content;
//   }
// }

// @mixin vp-375 {
//   @media (min-width: 375px) {
//     @content;
//   }
// }
