// desktop first

// main
@mixin vp-1919 {
  @media (max-width: 1919px) {
    @content;
  }
}

@mixin vp-1534 {
  @media (max-width: 1534px) {
    @content;
  }
}

@mixin vp-1239 {
  @media (max-width: 1239px) {
    @content;
  }
}

@mixin vp-847 {
  @media (max-width: 847px) {
    @content;
  }
}

@mixin vp-615 {
  @media (max-width: 615px) {
    @content;
  }
}

@mixin vp-389 {
  @media (max-width: 389px) {
    @content;
  }
}
