// colors
$color-background-main: #f5f5f5;
$color-text-main: #585858;
$color-accent: #ffb300;

// fonts
$ff-comic-relief: "ComicRelief", sans-serif;
$ff-dm-serif-text: "DMSerifText", sans-serif;

$ff-main: $ff-dm-serif-text;

// transitions
$trans-default: 0.3s ease;
$trans-long: 0.6s ease;
