// colors
$color-background-main: #173454;
$color-text-main: #F3F6FA;
$color-accent: #FFCA10;

$color-white: #CAD9E7;
$color-white-dark: #F3F6FA;
$color-blue: #173454;

// fonts
$ff-roboto: "Roboto", sans-serif;

$ff-main: $ff-roboto;

// transitions
$trans-default: 0.3s ease;
$trans-long: 0.6s ease;
