// colors
$color-background-main: #173454;
$color-text-main: #F3F6FA;
$color-text-dark: #474747;
$color-accent: #FFCA10;
$color-accent-dark: #ffb310;

$color-default-white: #FFFFFF;
$color-white: #CAD9E7;
$color-white-dark: #F3F6FA;
$color-white-blue: #CAD9E7;
$color-white-blue-dark: #6D8EB1;
$color-blue: #173454;
$color-blue-light: #244C70;
$color-blue-alt: #2E7FC6;
$color-blue-alt-light: #3aa2fd;
$color-gray: #828282;

// fonts
$ff-roboto: "Roboto", sans-serif;

$ff-main: $ff-roboto;

// transitions
$trans-default: 0.3s ease;
$trans-long: 0.6s ease;
