@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'mixins';
@use 'media';
@use 'utils';
@use 'globals';

@use './blocks/button';
@use './blocks/section';
@use './blocks/container';
@use './blocks/header';
@use './blocks/intro';
@use './blocks/advantages';
@use './blocks/advantage-card';
@use './blocks/from';
@use './blocks/catalog';
@use './blocks/product-card';
@use './blocks/empty-card';
@use './blocks/production-process';
