@use "../variables" as *;
@use "../mixins" as *;
@use "../media" as *;

.catalog {
  &__wrapper {
    position: relative;
  }

  &__bg-image {
    position: absolute;
    z-index: -1;

    &--cloud-1 {
      top: -100px;
      left: -240px;
      aspect-ratio: 713 / 1079;
      width: 713px;
      height: auto;

      @include vp-1239 {
        top: -50px;
        width: 600px;
      }
    }

    &--bubbles {
      top: 900px;
      left: -100px;
      aspect-ratio: 67 / 95;
      width: 67px;
      height: auto;
    }

    &--salt {
      top: -50px;
      right: -240px;
      aspect-ratio: 568 / 1201;
      width: 568px;
      height: auto;
      opacity: 0.2;
    }

    &--algae {
      top: 1000px;
      left: -240px;
      aspect-ratio: 768 / 966;
      width: 768px;
      height: auto;
      opacity: 0.2;
    }

    &--cloud-2 {
      bottom: -730px;
      left: 50%;
      aspect-ratio: 1440 / 1391;
      width: 1920px;
      height: auto;
      transform: translateX(-50%);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include vp-1239 {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @include vp-847 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include vp-615 {
      display: flex;
      flex-direction: column;
    }
  }

  &__show-more {
    @include typography(700, 1, 20px);

    padding-inline: 30px;
    height: 60px;
    margin: 20px auto 0;
    border-radius: 10px;
    border: 3px solid $color-white;
    transition: border-color $trans-default;

    &.is-hidden {
      display: none;
    }

    @include hover {
      border-color: $color-accent;
    }

    @include vp-615 {
      width: 100%;
    }
  }
}
