@use "../variables" as *;
@use "../media" as *;
@use "../mixins" as *;

.container {
  --content-width: 1440px;
  --padding-inline: 40px;

  max-width: calc(var(--content-width) + var(--padding-inline) * 2);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-inline: var(--padding-inline);

  @include vp-1600 {
    --content-width: 1160px;
  }

  // @include vp-1600 {
  //   --content-width: 1160px;
  // }

  @include vp-1239 {
    --content-width: 768px;
  }

  @include vp-847 {
    --content-width: 576px;
    --padding-inline: 20px;
  }

  @include vp-615 {
    --content-width: 335px;
  }
}
