@use "../variables" as *;
@use "../mixins" as *;
@use "../media" as *;

.favorites {
  padding: 40px 25px 40px 40px;
  border-radius: 20px;
  background-color: $color-blue;

  @include vp-1534 {
    padding: 30px 15px 30px 30px;
  }

  @include vp-1239 {
    padding: 30px;
  }

  @include vp-615 {
    padding: 25px 20px 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 25px;
    padding-right: 15px;

    @include vp-1534 {
      margin-bottom: 20px;
    }

    @include vp-1239 {
      padding: 0;
    }

    @include vp-615 {
      margin-bottom: 15px;
    }
  }

  &__title {
    @include typography(700, 1, 30px);

    @include vp-1239 {
      font-size: 26px;
    }

    @include vp-615 {
      font-size: 24px;
    }
  }

  &__close {
    @include reset-button;

    position: relative;
    display: block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 30px;
      height: 2px;
      border-radius: 2px;
      background-color: $color-white-blue;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: background-color $trans-default;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 30px;
      height: 2px;
      border-radius: 2px;
      background-color: $color-white-blue;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: background-color $trans-default;
    }

    @include hover {
      &::before {
        background-color: $color-white-blue-dark;
      }

      &::after {
        background-color: $color-white-blue-dark;
      }
    }

    @include vp-615 {
      width: 30px;
      height: 30px;

      &::before {
        width: 25px;
      }

      &::after {
        width: 25px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-height: 640px;
    padding-right: 9px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: rgba($color: $color-white-blue, $alpha: 0.5);
    }

    @include vp-1239 {
      grid-template-columns: repeat(3, 1fr);
      // gap: 15px;
      max-height: none;
      padding: 0;
      overflow-y: visible;
    }

    @include vp-847 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include vp-615 {
      display: flex;
      flex-direction: column;
    }
  }
}
