@use '../variables' as *;
@use '../mixins' as *;
@use '../media' as *;

.feedback {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;

    @include vp-1239 {
      width: calc((100% - 20px) / 3 * 2)
    }

    @include vp-847 {
      width: 100%;
    }
  }

  &__bg-image {
    position: absolute;
    z-index: -1;
    left: -240px;

    &--wave-transparent {
      top: -500px;
      aspect-ratio: 500 / 450;
      width: 1920px;
    }

    &--wave-fill {
      top: -70px;
      aspect-ratio: 500 / 185;
      width: 1920px;
    }

    &--wave-clouds {
      top: 200px;
      aspect-ratio: 500 / 275;
      width: 1920px;
      opacity: 0.5;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 100%;
    aspect-ratio: 1058 / 928;
    width: 1058px;
    transform: translateY(-50%);

    @include vp-1534 {
      left: calc(100% - 50px);
      width: 900px;
    }

    @include vp-1239 {
      left: calc(100% - 150px);
      width: 1100px;
    }

    @include vp-847 {
      top: auto;
      left: auto;
      right: -250px;
      bottom: -350px;
      width: 650px;
      transform: translateY(0);
    }

    @include vp-615 {
      display: none;
    }
  }

  &__description {
    @include typography(400, 1.2, 20px, $color-white-blue-dark);

    margin-bottom: 40px;

    @include vp-1239 {
      font-style: 18px;
    }

    @include vp-847 {
      margin-bottom: 20px;
    }

    @include vp-615 {
      font-style: 16px;
    }
  }
}
