@use '../variables' as *;
@use '../mixins' as *;
@use '../media' as *;

.form {
  &__fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @include vp-847 {
      margin-bottom: 40px;
    }
  }

  &__field {
    border-bottom: 1px solid $color-white-blue-dark;
    transition: border-color $trans-default;

    &--textarea {
      padding-block: 10px;
    }

    @include hover {
      border-color: $color-accent;
    }

    input {
      @include typography(400, 1, 18px, $color-white-dark);

      width: 100%;
      height: 40px;
      padding: 0;
      border: none;
      outline: none;
      background-color: transparent;

      &::placeholder {
        @include typography(400, 1, 18px, $color-white-blue-dark);
      }
    }

    textarea {
      @include typography(400, 1, 18px, $color-white-dark);

      width: 100%;
      height: 80px;
      padding: 0 4px 0 0;
      border: none;
      outline: none;
      background-color: transparent;
      overflow: visible;
      resize: none;

      &::placeholder {
        @include typography(400, 1, 18px, $color-white-blue-dark);
      }

      &::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba($color: $color-white-blue, $alpha: 0.5);
      }
    }
  }
}
