@use '../variables' as *;
@use '../mixins' as *;
@use '../media' as *;

.from {
  &__wrapper {
    position: relative;
    width: calc(50% - 10px);
    margin-left: auto;

    @include vp-1239 {
      width: 100%;
    }
  }

  &__bg-image {
    position: absolute;
    z-index: -1;
    pointer-events: none;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &--cloud {
      top: -380px;
      right: -240px;
      aspect-ratio: 610 / 1400;
      width: 610px;
      height: auto;

      @include vp-1239 {
        top: auto;
        bottom: -630px;
        right: -240px;
        width: 500px;
      }

      @include vp-615 {
        bottom: -340px;
        right: -130px;
        width: 300px;
      }
    }

    &--bubbles {
      bottom: -50px;
      right: -130px;
      width: 111px;
      height: auto;
      aspect-ratio: 111 / 163;

      @include vp-1239 {
        top: 0;
        bottom: auto;
        right: -50px;
      }

      @include vp-847 {
        width: 90px;
      }

      @include vp-615 {
        width: 70px;
      }
    }
  }

  &__image {
    position: absolute;
    top: -90px;
    right: calc(100% + 40px);
    width: 865px;
    height: auto;
    aspect-ratio: 865 / 760;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include vp-1534 {
      top: 0;
      width: 700px;
    }

    @include vp-1239 {
      position: static;
      width: 100%;
    }

    @include vp-615 {
      margin-bottom: 10px;
    }
  }

  &__title {
    max-width: 650px;

    @include vp-1534 {
      max-width: none;
    }

    @include vp-1239 {
      max-width: 500px;
    }
  }

  &__description {
    @include typography(300, 1.3, 20px, $color-white-blue);

    @include vp-1239 {
      font-size: 18px;
    }

    @include vp-615 {
      font-size: 16px;
    }

    &--first {
      position: relative;
      max-width: 420px;
      margin-bottom: 40px;

      @include vp-1534 {
        max-width: none;
        margin-bottom: 20px;
      }

      @include vp-1239 {
        max-width: 80%;
      }

      @include vp-615 {
        max-width: none;
        margin-bottom: 15px;
      }
    }

    &--second {
      padding-right: 50px;

      @include vp-1534 {
        margin-bottom: 60px;
        padding: 0;
      }
    }
  }

  &__arrow {
    position: absolute;
    top: -10px;
    left: calc(100% + 50px);
    width: 300px;
    height: auto;
    aspect-ratio: 300 / 390;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include vp-1534 {
      top: 100px;
      left: calc(100% - 40px);
      width: 150px;
      transform: rotate(45deg);
    }

    @include vp-1239 {
      top: 20px;
      left: calc(100% + 50px);
      width: 140px;
      transform: rotate(0);
    }

    @include vp-847 {
      top: 100px;
      left: calc(100% + 40px);
      width: 130px;
    }

    @include vp-615 {
      display: none;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @include vp-1534 {
      display: block;
    }
  }

  &__button {
    order: -1;
  }
}
