@use "../variables" as *;
@use "../mixins" as *;
@use "../media" as *;

.header {
  position: relative;
  z-index: 10;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    @include vp-847 {
      height: 80px;
    }
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    width: 156px;
    height: 60px;

    svg {
      width: 100%;
      height: 100%;
    }

    @include vp-1239 {
      margin-right: auto;
    }

    @include vp-847 {
      width: 130px;
      height: 50px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @include vp-1600 {
      column-gap: 20px;
    }

    @include vp-1239 {
      margin-right: auto;
    }

    @include vp-847 {
      display: none;
    }
  }

  &__nav-link {
    @include typography(400, 1, 20px);

    position: relative;
    display: block;
    padding: 10px;
    transition: color $trans-default;

    &::before {
      content: "";
      position: absolute;
      bottom: 4px;
      left: 50%;
      width: calc(100% - 10px * 2);
      height: 1px;
      background-color: transparent;
      transform: translateX(-50%);
      transition: background-color $trans-default;
    }

    @include hover {
      color: rgba($color: $color-text-main, $alpha: 0.6);

      &::before {
        background-color: rgba($color: $color-text-main, $alpha: 0.6);
      }
    }
  }

  &__search {
    @include vp-1239 {
      margin-right: 20px;
    }

    @include vp-615 {
      margin-right: 10px;
    }
  }

  &__search-form {
    display: flex;
    align-items: center;
    column-gap: 5px;
    width: 400px;
    padding-bottom: 3px;
    border-bottom: 1px solid $color-white;
    transition: border-color $trans-default;

    @media (hover: hover) and (pointer: fine) {
      &:has(.header__search-input:hover) {
        border-color: $color-accent;
      }
    }

    @include vp-1239 {
      width: auto;
      border-bottom: none;
    }
  }

  &__search-button {
    width: 28px;
    height: 28px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: transparent;
      stroke: $color-white;
      transition: stroke $trans-default;
    }

    @include hover {
      svg {
        stroke: $color-accent;
      }
    }

    @include vp-1239 {
      width: 40px;
      height: 40px;
    }
  }

  &__search-input {
    @include typography(300, 1, 20px);

    flex-grow: 1;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;

    &::placeholder {
      @include typography(300, 1, 20px);
    }

    @include vp-1239 {
      display: none;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;

    @include vp-615 {
      column-gap: 10px;
    }
  }

  &__action-button {
    position: relative;
    width: 40px;
    height: 40px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: transparent;
      stroke: $color-white;
      transition: stroke $trans-default;
    }

    @include hover {
      svg {
        stroke: $color-accent;
      }
    }
  }

  &__action-badge {
    @include flex-center;
    @include typography(700, 1, 11px, $color-blue);

    position: absolute;
    top: 0;
    right: 0;
    min-width: 22px;
    width: auto;
    height: 16px;
    border-radius: 8px;
    background-color: $color-accent;
    transform: translateX(30%);
  }
}
