@use "../variables" as *;
@use "../mixins" as *;
@use "../media" as *;

.order-form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba($color: $color-white-blue, $alpha: 0.5);
  }

  @include vp-1600 {
    max-height: 463px;
    padding-right: 15px;
    overflow-y: auto;
  }

  @include vp-1239 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: none;
    padding: 0;
    overflow-y: visible;
  }

  @include vp-615 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__inner {
    display: contents;

    &--first {
      padding-right: 20px;
    }

    @include vp-1239 {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }

    @include vp-615 {
      row-gap: 20px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &.is-disabled {
      pointer-events: none;

      .order-form__group-title {
        color: $color-gray;
      }

      .order-form__field {
        pointer-events: none;
        border-color: $color-gray;

        &::placeholder {
          color: $color-gray;
        }
      }
    }

    &-title {
      @include typography(700, 1, 20px);

      transition: color $trans-default;

      &--margin {
        margin-bottom: -10px;
      }

      @include vp-1239 {
        font-size: 18px;
      }

      @include vp-615 {
        font-size: 16px;
      }
    }
  }

  &__radio {
    @include typography(400, 1, 18px);

    display: flex;
    align-items: center;
    column-gap: 10px;

    @include vp-1239 {
      font-size: 16px;
    }

    @include vp-615 {
      column-gap: 6px;
      font-size: 14px;
    }

    &-emulate {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $color-gray;

      &::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50px;
        background-color: transparent;
        transition: background-color $trans-default;
      }

      @include vp-615 {
        width: 16px;
        height: 16px;
        transform: translateY(-1px);

        &::before {
          width: 10px;
          height: 10px;
        }
      }
    }

    input {
      @include visually-hidden;
    }

    &:has(input:checked) &-emulate {
      &::before {
        background-color: $color-accent-dark;
      }
    }
  }

  &__field {
    @include typography(400, 1, 18px, $color-white-dark);

    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;
    border-bottom: 1px solid $color-white-blue-dark;
    background-color: transparent;
    transition: border-color $trans-default;

    &::placeholder {
      @include typography(400, 1, 18px, $color-white-blue-dark);

      transition: color $trans-default;

      @include vp-1239 {
        font-size: 16px;
      }

      @include vp-615 {
        font-size: 14px;
      }
    }

    @include hover {
      border-color: $color-accent;
    }

    @include vp-1239 {
      font-size: 16px;
    }

    @include vp-615 {
      height: 32px;
      font-size: 14px;
    }
  }

  &__button {
    align-self: center;
    flex-shrink: 0;
    margin-block: 40px -100px;

    @include vp-1239 {
      margin-block: 0 -80px;
      margin-left: 60px;
    }

    @include vp-615 {
      margin-block: 20px -55px;
      margin-left: 0;
    }
  }
}
