@use "../variables" as *;
@use "../mixins" as *;
@use "../media" as *;

.product-card {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  border-radius: 20px;
  background-color: $color-white-dark;

  @include vp-1239 {
    min-height: 350px;
  }

  @include vp-615 {
    min-height: 365px;
  }

  &__image {
    position: relative;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }

    @include vp-1239 {
      height: 170px
    }
  }

  &__badge {
    @include typography(700, 1, 20px);

    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 20px;
    border-radius: 20px 0 20px 0;
    background-color: $color-accent;

    @include vp-1239 {
      padding: 10px 15px;
      font-size: 18px;
    }

    @include vp-847 {
      padding: 15px 20px;
    }
  }

  &__favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: $color-white-dark;

    @include vp-1239 {
      width: 40px;
      height: 40px;
    }

    @include hover {
      svg {
        stroke: $color-accent;
      }
    }

    &.is-active {
      svg {
        stroke: $color-accent;
        fill: $color-accent;
      }
    }

    svg {
      display: block;
      width: 35px;
      height: 35px;
      fill: none;
      stroke: $color-gray;

      transition: stroke $trans-default, fill $trans-default;

      @include vp-1239 {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__info {
    margin-bottom: 20px;
    padding: 20px;

    @include vp-1239 {
      margin-bottom: 15px;
      padding: 15px 15px;
    }

    @include vp-847 {
      margin-bottom: 20px;
      padding: 20px;
    }
  }

  &__name {
    @include typography(700, 1, 20px, $color-blue);

    margin-bottom: 10px;

    @include vp-1239 {
      font-size: 18px;
    }
  }

  &__description {
    @include typography(400, 1.1, 18px, $color-blue);
    @include line-clamp(3);

    @include vp-1239 {
      line-height: 1.2;
      font-size: 16px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: auto;
  }

  &__button {
    @include typography(700, 1, 20px);

    padding: 15px 20px;
    border-radius: 0 20px 0 20px;
    background-color: $color-blue-alt;
    transition: background-color $trans-default, color $trans-default;

    @include vp-1239 {
      padding: 10px 15px;
      font-size: 18px;
    }

    @include vp-847 {
      padding: 15px 20px;
    }

    @include hover {
      background-color: $color-blue-alt-light;
    }

    &.is-active {
      background-color: transparent;
      color: $color-gray;
      pointer-events: none;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 20px 10px;

    @include vp-1239 {
      padding-inline: 15px;
    }

    @include vp-847 {
      padding-inline: 20px;
    }
  }

  &__old-price {
    @include typography(400, 1, 14px, $color-gray);

    margin-top: -8px;
    text-decoration: line-through;
  }

  &__price {
    @include typography(700, 1, 20px, $color-blue);

    margin-bottom: 2px;

    @include vp-1239 {
      font-size: 18px;
    }
  }

  &__availability {
    @include typography(400, 1, 12px, $color-blue);
  }
}
