@use "../variables" as *;
@use "../mixins" as *;
@use "../media" as *;

.section {
  --padding-block: 90px;

  padding-block: var(--padding-block);

  @include vp-1600 {
    --padding-block: 75px;
  }

  @include vp-1239 {
    --padding-block: 60px;
  }

  @include vp-847 {
    --padding-block: 45px;
  }

  @include vp-615 {
    --padding-block: 30px;
  }

  &__title {
    @include typography(700, 1, 60px);

    margin-bottom: 30px;

    @include vp-1600 {
      font-size: 56px;
    }

    @include vp-1239 {
      font-size: 48px;
    }

    @include vp-847 {
      font-size: 36px;
    }

    @include vp-615 {
      margin-bottom: 20px;
      font-size: 30px;
    }
  }
}
