@use "../variables" as *;
@use "../mixins" as *;
@use "../media" as *;

.success {
  &__wrapper {
    position: relative;
    height: 785px;
    padding: 40px;

    @include vp-1600 {
      height: 573px;
    }

    @include vp-1239 {
      padding-block: 60px 50px;
      height: auto;
    }

    @include vp-847 {
      padding-block: 60px 35px;
      padding-inline: 30px;
    }

    @include vp-615 {
      padding-block: 40px 25px;
      padding-inline: 20px;
    }
  }

  &__bg-image {
    position: absolute;
    inset: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
      object-position: left;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 20px;
    height: 100%;
    padding-bottom: 20px;

    @include vp-1239 {
      margin-bottom: 60px;
      padding: 0;
    }

    @include vp-615 {
      margin-bottom: 40px;
    }
  }

  &__title {
    @include typography(700, 0.9, 120px);

    max-width: 700px;
    background: linear-gradient(280.12deg, #FFCA10 14%, #FFFFFF 92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include vp-1600 {
      font-size: 90px;
    }

    @include vp-1239 {
      font-size: 72px;
    }

    @include vp-847 {
      font-size: 56px;
    }

    @include vp-615 {
      font-size: 38px;
    }
  }

  &__description {
    @include typography(300, 1.3, 20px, $color-white-blue);

    max-width: 500px;

    @include vp-1239 {
      font-size: 18px;
    }

    @include vp-615 {
      font-size: 16px;
    }
  }

  &__back {
    @include reset-button;
    @include typography(400, 1, 20px, $color-accent);

    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: color $trans-default;

    svg {
      display: block;
      aspect-ratio: 17 / 13;
      width: 22px;
      stroke: $color-accent;
      transition: stroke $trans-default;
    }

    @include hover {
      color: $color-white-blue;

      svg {
        stroke: $color-white-blue;
      }
    }

    @include vp-1239 {
      position: relative;
      bottom: auto;
      left: auto;
      font-size: 18px;
    }

    // @include vp-847 {
    //   left: 30px;
    // }

    @include vp-615 {
      // bottom: 30px;
      // left: 20px;
      font-size: 16px;

      svg {
        width: 20px;
      }
    }
  }
}
